:root {
	--mol_theme_hue: 180deg;
}

[hyper_heartbeat] {
	font-family: "TT Commons", Helvetica, Arial, sans-serif;
}

[mol_button] {
	border-radius: 2rem;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
}
